<div class="top-bar app-header">
    <div class="container top-container">
        <div class="logos-container">
            <div class="app-logo">
                <a href="#" id="appHomeLink">
                    <span class="app-name" id="currentAppName">Loading...</span>
                </a>
            </div>
            <div class="divider"></div>
            <div class="parent-logo">
                <a href="/Bitcoin-Data-Labs/">
                    <img src="/Bitcoin-Data-Labs/logo-light.png" alt="Bitcoin Data Labs" class="parent-logo-img" onerror="this.onerror=null; this.src='../logo-light.png';">
                </a>
            </div>
        </div>
        <div class="social-links-top">
            <a href="https://github.com/sorukumar/Bitcoin-Data-Labs" target="_blank" class="social-icon">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://x.com/Soru_kumar" target="_blank" class="social-icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/bitcoin-data-labs" target="_blank" class="social-icon">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>