<!-- Bitcoin Data Labs Header Component -->
<div class="top-bar">
    <div class="container top-container">
        <div class="logo">
            <a href="/Bitcoin-Data-Labs/">
                <img src="/Bitcoin-Data-Labs/logo-light.png" alt="Bitcoin Data Labs Logo" class="logo-img" onerror="this.onerror=null; this.src='../logo-light.png';">
            </a>
        </div>
        <div class="social-links-top">
            <a href="https://github.com/sorukumar/Bitcoin-Data-Labs" target="_blank" class="social-icon">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://x.com/sorukumar" target="_blank" class="social-icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/bitcoin-data-labs" target="_blank" class="social-icon">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>